*{
  margin: 0;
  padding: 0;
}

body{
  background: url(../img/calculator.jpg);
  position:center;
  background-attachment: cover;
  background-size: cover;
}

header {
  width: 100%;
  height: 110px;
  background: rgba(68, 31, 68, 0.5);
  position: fixed;
}

.logo {
  float: left;
}

.wrapper {
  margin-top: -18px;
}

.nav {
  float: left;
}

.botones {
  padding-top: 150px;
  padding-left: 114px;
}

.botones a {
  padding: 53px;
  margin-left:11px;
}

/*comienzo grades*/
table{
  width: 20%;
  margin: auto;
}

input{
  padding: 8px;
}

.grades{
  background: rgba(227, 7, 54, 0.3);
  margin: auto;
  width: 40%;
  padding-top: 27px;
  margin-top: 120px;
}

.grades #numero{
  font-size: 20px;
}

.boton {
  text-align: center;
  padding: 50px 0 0 270px;
}

button {
  padding: 13px;
}
