*{
  margin: 0;
  padding: 0;
}

body{
  background: url(../img/calculator.jpg);
  position:center;
  background-attachment: cover;
  background-size: cover;
  position: fixed;
}

header {
  width: 100%;
  height: 110px;
  background: rgba(68, 31, 68, 0.5);
  position: fixed;
}

.wrapper {
  margin-top: -18px;
}

.logo {
  float: left;
}

.nav {
  float: left;
}

.botones {
  padding-top: 150px;
  padding-left: 114px;
}

.botones a {
  padding: 53px;
  margin-left:11px;
}

/*Calculador*/

#contenido{
  width: 30%;
  margin: auto;
  background: rgba(234, 164, 12, 0.7);
}

#contenido input {
  font-size: 26px;
}

#contenido button {
  padding: 5px;

}
.boton {
  text-align: center;
  padding: 50px 0 0 270px;
}
button{
  padding: 13px;
}
